# Backend
backend/.env
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/**/*.pyo

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# General
.DS_Store
*.log
Thumbs.db
